{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Access Rules{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">Access Rules</h1>
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">Characters</div>
                <table class="table">
                        <tr>
                            <th class="text-center">Name</th>
                            {% if perms.access.add_characteraccessrule %}
                                <td>
                                    <div class="text-right">
                                        <a href="{% url 'access_characteraccess_create' %}" class="btn btn-success" title="Add"><span class="glyphicon glyphicon-plus"></span></a>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% if characteraccess %}
                        {% for ca in characteraccess %}
                            <tr>
                                <td class="text-center">{{ ca.character }}</td>
                                <td class="text-right">
                                    {% if perms.access.audit_access %}
                                        <a href="{% url 'access_view_character_access' ca.id %}" class="btn btn-primary" title="View"><span class="glyphicon glyphicon-user"></span></a>
                                    {% endif %}
                                    {% if perms.access.delete_characteraccessrule %}
                                        <a href="{% url 'access_characteraccess_delete' ca.id %}" class="btn btn-danger" title="Revoke"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-warning">
                <div class="panel-heading">Corporations</div>
                <table class="table">
                        <tr>
                            <th class="text-center">Name</th>
                            {% if perms.access.add_corpaccessrule %}
                                <td>
                                    <div class="text-right">
                                        <a href="{% url 'access_corpaccess_create' %}" class="btn btn-success" title="Add"><span class="glyphicon glyphicon-plus"></span></a>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% if corpaccess %}
                        {% for ca in corpaccess %}
                            <tr>
                                <td class="text-center">{{ ca.corp }}</td>
                                <td class="text-right">
                                    {% if perms.access.audit_access %}
                                        <a href="{% url 'access_view_corp_access' ca.id %}" class="btn btn-primary" title="View"><span class="glyphicon glyphicon-user"></span></a>
                                    {% endif %}
                                    {% if perms.access.delete_corpaccessrule %}
                                        <a href="{% url 'access_corpaccess_delete' ca.id %}" class="btn btn-danger" title="Revoke"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Alliances</div>
                <table class="table">
                        <tr>
                            <th class="text-center">Name</th>
                            {% if perms.access.add_allianceaccessrule %}
                                <td>
                                    <div class="text-right">
                                        <a href="{% url 'access_allianceaccess_create' %}" class="btn btn-success" title="Add"><span class="glyphicon glyphicon-plus"></span></a>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% if allianceaccess %}
                        {% for aa in allianceaccess %}
                            <tr>
                                <td class="text-center">{{ aa.alliance }}</td>
                                <td class="text-right">
                                    {% if perms.access.audit_access %}
                                        <a href="{% url 'access_view_alliance_access' aa.id %}" class="btn btn-primary" title="View"><span class="glyphicon glyphicon-user"></span></a>
                                    {% endif %}
                                    {% if perms.access.delete_allianceaccessrule %}
                                        <a href="{% url 'access_allianceaccess_delete' aa.id %}" class="btn btn-danger" title="Revoke"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
