{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Site Access{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">Site Access</h1>
        {% if access %}
            <div class="alert alert-success" role="alert">You have access.</div>
        {% elif useraccess %}
            <div class="alert alert-warning" role="alert">Seems to be a problem with your access.</div>
        {% else %}
            <div class="alert alert-danger" role="alert">You don't have access.</div>
        {% endif %}
        {% if useraccess %}
            <div class="panel panel-success">
            <div class="panel-heading">Your Access</div>
            <table class="table">
                <tr>
                    <th class="text-center">Character</th>
                    <th class="text-center">Rule</th>
                </tr>
                {% for ua in useraccess %}
                    <tr>
                        <td class="text-center">{{ ua.character }}</td>
                        <td class="text-center">{{ ua.access_rule }}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
