{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Site Access{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">Site Access</h1>
        {% if access %}
            <div class="alert alert-success" role="alert">{{ user }} has site access.</div>
        {% elif useraccess %}
            <div class="alert alert-warning" role="alert">Seems to be a problem with site access for {{ user }}</div>
        {% else %}
            <div class="alert alert-danger" role="alert">{{ user }} does not have site access.</div>
        {% endif %}
        {% if useraccess %}
            <div class="panel panel-info">
            <div class="panel-heading">User Access</div>
            <table class="table">
                <tr>
                    <th class="text-center">Character</th>
                    <th class="text-center">Rule</th>
                    <th></th>
                </tr>
                {% for ua in useraccess %}
                    <tr>
                        <td class="text-center">{{ ua.character }}</td>
                        <td class="text-center">{{ ua.access_rule }}</td>
                        <td class="text-right">
                            <a href="{% url 'access_recheck_useraccess' ua.id %}" class="btn btn-warning" label="Recheck"><span class="glyphicon glyphicon-refresh"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
