{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Site Access{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">User Access By {{ type }} Rule</h1>
        <div class="panel panel-success">
            <div class="panel-heading">{{ rule }}</div>
            <table class="table">
                <tr>
                    <th class="text-center">User</th>
                    <th class="text-center">Access</th>
                    <th class="text-center"></th>
                </tr>
                {% for ua in useraccess %}
                    <tr>
                        <td class="text-center">{{ ua.user }}</td>
                        <td class="text-center">{{ ua }}</td>
                        <td class="text-right">
                            <a href="{% url 'access_recheck_useraccess' ua.id %}" class="btn btn-warning" label="Recheck"><span class="glyphicon glyphicon-refresh"></span></a>
                            <a href="{% url 'access_list_useraccess' ua.user.pk %}" class="btn btn-primary" label="View User Access"><span class="glyphicon glyphicon-user"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
{% endblock %}
