adarnauth/settings.py
*.pyc
*.log
eveonline/migrations/*
authentication/migrations/*
access/migrations/*
groupmanagement/migrations/*
phpbb/migrations/*
openfire/migrations/*
services/migrations/*
ldap/migrations/*
