# settings
adarnauth/settings.py

# junk files
*.pyc
*.log

# migrations (until release)
eveonline/migrations/*
authentication/migrations/*
access/migrations/*
groupmanagement/migrations/*
phpbb/migrations/*
openfire/migrations/*
services/migrations/*
ldap_service/migrations/*
mumble/migrations/*

# virtualenv
bin/*
local/*
lib/*
include/*
pip-selfcheck.json
